<div class="employee">
  <h2><%= employee.full_name %></h2>
  <p><strong>Address:</strong> <%= employee.model.address %></p>
  <p><strong>Date of birth:</strong> <%= employee.date_of_birth %></p>
  <p><strong>Email:</strong> <%= employee.model.email %></p>
  <p><strong>Biography:</strong> <%= employee.model.bio %></p>
  <p><strong>Country:</strong> <%= employee.model.country %></p>
  <p><strong>Rating:</strong> <%= employee.model.rating %></p>
</div>